html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

body {
  font-family: "open sans";
}

.show {
  display: block;
}

.hide {
  display: none;
}

@keyframes fadeInKey {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeInKey;
  animation-duration: 1000ms;
}

.lightbox-btn:hover {
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

@media print {
  #completedLetter {
    padding-top: 80px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  ins {
    text-decoration: underline;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
